# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*.pyo

# =========================================================
# VIRTUAL ENVIRONMENT
# =========================================================

venv/
.venv/
env/

# =========================================================
# ENVIRONMENT VARIABLES
# =========================================================

.env
.env.*
!.env.example

# =========================================================
# DATABASE
# =========================================================

*.db
*.sqlite
*.sqlite3

# =========================================================
# LOGS
# =========================================================

*.log

# =========================================================
# PYTHON TOOLS
# =========================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================================================
# IDE
# =========================================================

.vscode/
.idea/

# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db
